<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <title>Edit Answer</title>
</head>
<style>

  .top-layout {

    background-color : limegreen;

    width : 100%;
    margin-top : 3px;

  }
  .layout {
    width : 500px;
    margin : 0 auto;

  }

  .layout input {
    width : 100%;
    box-sizing : border-box;
    margin-bottom : 10px;
  }

  .layout textarea {
    width : 100%;

    min-height : 300px;
  }
</style>
<body>
<nav class="navbar1" style="background-color: limegreen">
  <ul>

    <li><a href="../">QNAver</a></li>
    <li><a href="../../board/list">BoardList</a></li>
    <!--            <li><a href="#contact">Contact</a></li>-->
    <li style="float:right"><a class="active" href="../../signup">Signup</a></li>

    <li style="float:right"><a class="active" href="#about">Login</a></li>
  </ul>
</nav>
<div class = "top-layout">
  <h1>답변 수정</h1>
</div>
<div class = "layout">
  <form th:action="@{/board/ansupdate/{id}(id=${answer.id})}" method="post">
    <h3>Edit Your Reply</h3>

    <h5 style="margin-bottom: 1px">Content</h5>
    <textarea name="content" th:text="${answer.content}"></textarea>
    <button type="submit">Edit</button>
  </form>
</div>
</body>
</html>