<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Question List Page</title>
</head>

<style>

    .top-layout {
        background-color : limegreen;
        width : 100%;
        margin-top : 3px;

    }

    .layout11 {
        width : 1250px;
        margin :  auto;
        align-self: center;

    }

    #listtable {
        margin-left:auto; margin-right:auto;
        border:solid 1px;
    }

    #listtable tr,td,th {
        border: 1px black;
    }

    /*ul.pagination {*/
    /*    display: inline-block;*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*}*/

    /*ul.pagination li {display: inline;}*/

    /*ul.pagination li a {*/
    /*    color: black;*/
    /*    float: left;*/
    /*    padding: 8px 16px;*/
    /*    text-decoration: none;*/
    /*}*/

</style>
<body>
    <nav class="navbar1" style="background-color: limegreen">
        <ul>

            <li><a href="../">QNAver</a></li>
            <li><a href="../board/list">BoardList</a></li>
            <!--            <li><a href="#contact">Contact</a></li>-->
            <li style="float:right"><a class="active" href="../signup">Signup</a></li>

            <li style="float:right"><a class="active" href="#about">Login</a></li>
        </ul>
    </nav>
  <div class = "top-layout">
      <h1>Question List</h1>
  </div>

  <div class="layout11">

    <button type onclick="window.location.href='/board/write'" style="width:200px; margin-bottom:8px;  align:left;">Ask a Question!</button>


<!--      <button type="button" class="btn btn-outline-dark" style="float:right;">Search</button>-->
<!--      <input text style="width:600px; float:right; text-align: right;">-->
      <form th:action="@{/board/list}" method="get">
          <button type="submit" class="btn btn-outline-dark" style="float:right;">Search</button>
          <input type="text" name="keyword" style="width:600px; float:right; text-align: right;">

      </form>



      <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th width="50px" align="center">Article Number</th>
                <th width="800px" align="center">Title</th>
                <th width="100px" align="center">User</th>
                <th width="300px" align="center">DateTime</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="question , loop : ${list}">
                <td th:text="${question.id}"></td>
                <td>
                    <a th:text="${question.subject}" th:href="@{/board/view(id=${question.id})}"></a>
                </td>
                <td th:text="${question.author?.username}"></td>
                <td th:text="${#temporals.format(question.create_date,'yy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>

      <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">


          <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, keyword = ${param.keyword})}" th:text="${page}"></a>
          <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
      </th:block>

<!--      <form th:action="@{/board/list}" method="get">-->
<!--          <input type="text" name="keyword" style="width:600px; float:right; text-align: right;">-->
<!--          <button type="submit" class="btn btn-outline-dark" style="float:right;">Search</button>-->

<!--      </form>-->


<!--      <div th:if="${!paging.isEmpty()}">-->
<!--          <ul class="pagination justify-content-center">-->
<!--              <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">-->
<!--                  <a class="page-link"-->
<!--                     th:href="@{|?page=${paging.number - 1}|}">-->
<!--                      <span>이전</span>-->
<!--                  </a>-->
<!--              </li>-->
<!--              <li th:each="page: ${#numbers.sequence(0, paging.totalPages -1)}"-->
<!--                  th:if="${page >= paging.number -5 and page <= paging.number + 5}"-->
<!--                  th:classappend="${page == paging.number} ? 'active'"-->
<!--                  class="page-item">-->
<!--                  <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>-->
<!--              </li>-->
<!--              <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">-->
<!--                  <a class="page-link" th:href="@{|?page=${paging.number+1}|}">-->
<!--                      <span>다음</span>-->
<!--                  </a>-->
<!--              </li>-->
<!--          </ul>-->
<!--      </div>-->

<!--      <form th:action="@{/board/list}" method="get"></form>-->




  </div>
</body>
</html>