<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="https://kit.fontawesome.com/0b3d713076.js" crossorigin="anonymous"></script>
    <title>QNA View</title>
</head>


<style>
    .top-layout {
        background-color: limegreen;
        width: 100%;
        margin-top: 3px;

    }

    .contentandmenu {
        width:90%;
        margin:auto;
        justify-content: space-around;
        align-content: center;
    }

    .body-layout {
        float:left;
        width: 55%;
        margin:auto;
    }

    .rightmenu {
        width: 300px;
        float:right;
        position:fixed;
        margin-left: 60%;
    }

    th, td {
        border: 1px solid limegreen;
    }

</style>


<body>

    <nav class="navbar1">   <!-- 네비게이션바 [로고 게시판 정보수정                로그인 로그아웃/회원가입-->

        <ul>

            <li><a class="navbar-brand" href="/"><img src="/mask.PNG" style="width:120px;height:52px;padding-left:0%;padding-right: 0%" alt="Logo"></a></li>
            <li><a href="/board/list" style="text-align: center; margin:0;"><i class="fa-sharp fa-solid fa-clipboard-list"></i>BoardList</a></li>
            <li><a class="active" sec:authorize="isAuthenticated()" th:href="@{/user/edit}"><i class="fa-solid fa-user-pen"></i>MyInfo</a></li>
            <li style="float:right">
                <a class="active" sec:authorize="isAnonymous()" th:href="@{/user/signup}"><i class="fa-solid fa-user-plus"></i>Signup</a>
            </li>
            <li style="float:right">
                <a class="active" sec:authorize="isAnonymous()" th:href="@{/user/login}"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
            <li style="float:right">
                <a class="active" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
            </li>

        </ul>

    </nav>

    <div class="top-layout">
        <h1>질문 답변 상세 보기</h1>
    </div>


    <!-- 우측 고정 메뉴와 질문답변 컨텐츠 레이아웃-->
    <div class="contentandmenu">

        <div class="rightmenu" id="rightfix"><!-- 우측 고정 메뉴-->
            <div class="card border-secondary mb-3" style="width:80%; height:180px">
                <div class="card-header"><i class="fa-solid fa-circle-info"></i>My Activity</div>
                <div class="card-body text-secondary">
                    <!-- TODO 유저의 전체 게시글 수와 답변 수 표시하기 -->
                    <h5 class="card-title" th:if="${question?.author != null}"
                        th:text="|${#lists.size(question.author.username)} Total Answers.|">
                    </h5>
                    <p class="card-text">고정 메뉴입니다.</p>
                </div>
            </div>
        </div>


        <!-- 질문과 답변 레이아웃-->
        <div class="body-layout" id="question-answer-view">

            <!-- 질문 상세 -->
            <div class="card" id="question-view">
                <h1 class="card-header" style="background-color: limegreen;">Question</h1>
                <div class="card-body">

                    <h3 class="card-title" th:text="${question.subject}"></h3>
                    <hr>
                    <pre class="card-text" style="max-height:250px;overflow:auto;" th:text="${question.content}"></pre><!-- \n 포함 시킬때는 pre 태그로-->


                    <div class="my-2">
                        <!-- 질문 추천 버튼 -->
                        <a href="javascript:void(0);" class="recommend btn btn-outline-secondary btn-sm"
                           sec:authorize="isAuthenticated()"
                           th:data-uri="@{|/questvote/${question.id}|}">
                            추천
                            <span class="badge rounded-pill bg-primary" th:text="${#lists.size(question.voter)}"></span>
                        </a>

                        <!-- 질문 수정 버튼 -->
                        <button th:onclick="|location.href='@{/board/modify/{id}(id=${question.id})}'|"
                                class="btn btn-success"
                                style="text-align: right;"
                                sec:authorize="isAuthenticated()"
                                th:if="${question.author != null and #authentication.getPrincipal().getUsername == question.author?.username}"
                                th:text="Edit">수정
                        </button>

                        <!-- 질문 삭제 버튼 -->
                        <button th:onclick="|location.href='@{/board/delete(id=${question.id})}'|" sec:authorize="isAuthenticated()"
                                class="btn btn-success"
                                style="text-align: right;"
                                th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                                th:text="Delete">삭제
                        </button>

                    </div>
                </div>
            </div>

            <hr>

            <!-- 답변 작성 폼 -->
            <div class="card" sec:authorize="isAuthenticated()" id="answer-write">

                <form th:action="@{|/reply/${question.id}|}" method="post">

                    <h1 class="card-header" style="background-color: limegreen;">Reply</h1>
                    <div class="card-body">
                        <textarea name="content" id="content" style="width:100%; min-height: 120px; margin:auto; "></textarea>
                        <input type="submit" value="Submit" style="margin-bottom:1px; float: right;" sec:authorize="isAuthenticated()"></input>
                    </div>

                </form>

            </div>


            <br>
            <br>

            <!-- 답변 -->
            <div class="card" id="answer-view">


                <!-- 총 답변 개수 -->
                <div class="card" id="replied answer">
                    <h5 class="card-header" style="background-color: limegreen;" th:if="${question?.answerList != null}"
                        th:text="|${#lists.size(question?.answerList)} Total Answers.|">
                    </h5>
                </div>

                <br>

                <!-- 답변 리스트 보기 -->
                <div class="card">
                    <table class="table-success" style="border:1px; margin:auto;">

                        <thead>
                            <tr>
                                <th style="width:15%">User</th>
                                <th style="width:65%">Answer</th>
                                <th style="width:10%">Created</th>
                                <th style="width:10%">Modified</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="answer : ${question?.answerList}">
                                <!-- 관리자면 빨간색 글꼴 처리 -->
                                <td th:if="${answer?.author != null}"
                                    th:style="${answer.author.username=='admin'}?'font-weight: bold; color:red':'}'"
                                    th:text="${answer.author?.username}"></td>
                                <!-- 탈퇴회원이면 파랑색 글꼴 처리 -->
                                <td th:unless="${answer?.author != null}" th:style="${'color:blue;text-decoration:underline'}"
                                    th:text="탈퇴회원"></td>
                                <!-- 답변 내용 보여주기 -->
                                <td style="height:100px;overflow:auto;padding-bottom:0px">  <!-- height 잡아주고 overflow로 height 넘어가면 스크롤 처리 -->
                                    <div style="height:100px;overflow:auto;">[[${answer.content}]]</div>

                                    <div>

                                        <!-- 답변 추천수 -->
                                        <a href="javascript:void(0);" class="recommend btn btn-outline-secondary btn-sm"
                                           sec:authorize="isAuthenticated()" style="margin-top:2px; float: right;"
                                           th:data-uri="@{|/ansvote/${answer.id}|}">
                                            추천
                                            <span class="badge rounded-pill bg-primary"
                                                  th:text="${#lists.size(answer.voter)}">
                                            </span>
                                        </a>


                                        <div class="reply-button" style="margin-bottom:2px;text-align:right;">

                                            <!-- 답변 수정 버튼 -->
                                            <button th:onclick="|location.href='@{/board/ansmodify/{id}(id=${answer.id})}'|"
                                                    class="btn btn-success"
                                                    sec:authorize="isAuthenticated()"
                                                    th:if="${answer?.author != null and #authentication.getPrincipal().getUsername() == answer.author?.username}"
                                                    th:text="Edit">수정
                                            </button>

                                            <!-- 답변 삭제 버튼 -->
                                            <button th:onclick="|location.href='@{/board/ansdelete/(id=${answer.id})}'|"
                                                    class="btn btn-success"
                                                    sec:authorize="isAuthenticated()"
                                                    th:if="${answer?.author != null and #authentication.getPrincipal().getUsername() == answer.author?.username}"
                                                    th:text="Delete">삭제
                                            </button>

                                        </div>
                                    </div>

                                </td>
                                <!-- 답변 생성 날짜(형식 지정) -->
                                <td style="text-align: center;" th:text="${#temporals.format(answer.create_date,'yy-MM-dd HH:mm:ss')}"></td>
                                <!-- 답변 수정 날짜(형식 지정) -->
                                <td style="text-align: center;" th:text="${#temporals.format(answer.modify_date,'yy-MM-dd HH:mm:ss')}"></td>
                            </tr>

                        </tbody>
                    </table>

                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>


</body>

<script>
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>


</html>