<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Question View</title>
</head>
<style>
    .top-layout {
        background-color : limegreen;
        width : 100%;
        margin-top : 3px;

    }

    .body-layout {
        width : 50%;
        margin : 0 auto;
    }

    .question {
        width : 100%
    }

    .write-answer {
        margin-top : -3px;
        width : 100%;
        display : flex;

    }

    .replied {
        width : 100%;


    }
</style>
<body>
    <nav class="navbar1" style="background-color: limegreen">
        <ul>
            <li><a href="#">QNAver</a></li>
            <li><a href="board/list">BoardList</a></li>
            <!--            <li><a href="#contact">Contact</a></li>-->
            <li style="float:right"><a class="active" href="signup">Signup</a></li>
            <li style="float:right"><a class="active" href="#about">Login</a></li>
        </ul>
    </nav>
    <div class = "top-layout">
        <h1>질문 상세</h1>
    </div>

    <div class = "body-layout">
        <div class="question" style="border-bottom:2px;">
            <h1 th:text="${question.subject}">제목</h1>
            <p th:text="${question.content}">내용 부분</p>
        </div>

        <button th:onclick="|location.href='@{/board/modify/{id}(id=${question.id})}'|">Edit</button>
        <button th:onclick="|location.href='@{/board/delete(id=${question.id})}'|">Delete</button>
        <hr>

        <div class="write-answer">
            <form th:action="@{|/reply/${question.id}|}" method="post">
                <h3>답변 등록</h3>
                <h5>내용</h5>
                <textarea name="content" id="content"
                          style="width:700px; min-height: 120px; margin:auto; "></textarea>
                <input type="submit"></input>
            </form>
        </div>
        <br>
        <hr>

        <div class="replied">
            <h5 th:text="|${#lists.size(question.answerList)} Total Answers.|"></h5>
            <br>
            <div>
                <table border="1" align="left">
                    <thead>
                        <tr>
                            <th style="width:100px">User</th>
                            <th width="600px">Answer</th>
                            <th width="200px">Created</th>
                            <th width="200px">Modified</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr th:each="answer : ${question.answerList}">
                            <td th:text="${answer.author_id}"></td>
                            <td style="height:100px;padding-bottom:0px">
                                <div>"[[${answer.content}]]"</div>
                                <div class="reply-button" style="margin-bottom:2px;text-align:right;">
                                    <button th:onclick="|location.href='@{/board/ansmodify/{id}(id=${answer.id})}'|">Edit</button>
                                    <button th:onclick="|location.href='@{/board/ansdelete/(id=${answer.id})}'|">Delete</button>

                                </div>
                            </td>
                            <td th:text="${#temporals.format(answer.create_date,'yy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#temporals.format(answer.modify_date,'yy-MM-dd HH:mm:ss')}"></td>
                        </tr>

                    </tbody>


                </table>

            </div>
        </div>
    </div>




</body>
</html>