<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Sign Up</title>
</head>
<style>

    .top-layout {
        background-color : limegreen;
        width : 100%;
        margin-top : 3px;

    }

</style>
<body>
    <nav class="navbar1" style="background-color: limegreen">
        <ul>
            <li><a href="#">QNAver</a></li>
            <li><a href="board/list">BoardList</a></li>
            <!--            <li><a href="#contact">Contact</a></li>-->
            <li style="float:right"><a class="active" href="signup">Signup</a></li>
            <li style="float:right"><a class="active" href="#about">Login</a></li>
        </ul>
    </nav>
    <div class = "top-layout">
        <h2>Sign up</h2>
    </div>
    <h2>Be a Member!</h2>
    <p>userid</p>
    <input type="text">
    <p>password</p>
    <input type="password">
    <p>password confirm</p>
    <input type="password">
    <p>email address</p>
    <input type="text">
</body>
</html>